*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

ul {
  list-style: none;
}
/* body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: #1c2225;
} */
a {
  cursor: pointer;
}
.img-landing {
    display: block;
  margin: 0 auto;
  /* object-fit: cover;
  overflow: hidden; */
}
.img-main {
    display: block;
  margin: 0 auto;
    /* object-fit: cover;
  text-align: center; */
}
