*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

ul {
  list-style: none;
}
body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: #1c2225;
}
a {
  cursor: pointer;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  background-image: url('../img/img_2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: auto;
}
.container-btn {
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
  display: flex;
}
.header-btn {
  border: 1px solid blue;
  padding: 8px;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .container {
    background-color: blue;
    max-width: 720px;
  }
}
.header-link {
  font-family: 'Imperial Script', cursive;
}
.header-title {
  padding: 10px;
  font-family: 'Imperial Script', cursive;
  font-weight: 600;
  font-style: normal;
}
.bacground-title {
  border-radius: 8px;
  background-image: url('../img/img_3.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
